<%= form_for role, authenticity_token: true, remote: true, url: role_path(role, format: :js) do |f| %>
  <%= f.hidden_field :role_type %>
  <%= f.hidden_field :title %>
  <div class = 'alumni-officer info-container'>
    <div class = 'col-xs-12 col-sm-3 col-md-2 no-left-padding'>
      <div class = 'officer-picture col-sm-12 col-xs-3' style="background-image: url('<%=role.member.profile_picture%>')" >
      </div>
    </div>
    <div class = 'col-xs-12 col-sm-9 col-md-10 info'>
      <div class='field officer-name'>
        <%= select_tag 'role[member_id]', options_from_collection_for_select(members, "id", "full_name", role.member_id), onchange: "$(this).closest('form').trigger('submit.rails');" %>
      </div>
      <!-- TODO: make this editable -->
      <a class='officer-title' data-toggle="popover"
        tabindex='10'
        title='<%= role.title.titleize %>'
        data-placement='bottom'
        data-trigger='focus'
        data-content='<%= role.job_description%>'><%= role.title.titleize %>
    </a>
    <span class='officer-email'><%= mail_to role.member.email %></span>
    <span class='officer-phone'>
      <%= link_to role.member.phone_number, "tel:#{role.member.phone_number}" if role.member.phone_number %>
    </span>
    <p    class = 'officer-bio'><%= role.member.bio %></p>
    <%= f.submit 'SAVE', class: 'btn btn-primary btn-sm btn-square' %>
  </div>
</div>
<% end %>
