<div class="modal fade" tabindex="-1" id="newChannelModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create a Channel</h4>
      </div>
      <div class="modal-body">
        <%= form_for Forum::Channel.new, remote: true do |f| %>
          <%= f.text_field :subject, placeholder: 'Subject', required: 'required' %>
          <%= f.text_field :description, placeholder: 'Description', required: 'required' %>
          <%= f.hidden_field :visibility %>
          <%= f.submit 'Create' %>
        <% end %>
        </div>
    </div>
  </div>
</div>
