<div class = 'current-channel-container'>
  <div class = 'col-lg-10 col-md-9 col-xs-12'>
    <%= render 'nav', subject: channel.subject, description: channel.description, member_count: channel.member_count %>
    <div class = 'posts-container' data-post-id='0'>
      <% (@posts || channel.posts).each do |post|%>
        <%= render 'forum/posts/show', post: post %>
      <% end %>
      <div class = 'post-0-replies'></div>
    </div>
    <%= render 'forum/posts/new', channel: channel %>
    <div class = 'new-reply hide'>
      <%= render 'forum/posts/new', channel: channel %>
    </div>
    <div class = 'edit-post-container hide'>
      <%= render 'forum/posts/edit', channel: channel %>
    </div>
  </div>
</div>
