<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-xs-12 col-md-4 col-md-offset-4 registration-form'>
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class='field'>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, required: true %>
        </div>

        <div class='field'>
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: false, required: true %>
        </div>

        <div class='field'>
          <%= f.label :middle_name %><br />
          <%= f.text_field :middle_name, autofocus: false %>
        </div>

        <div class='field'>
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autofocus: false, required: true %>
        </div>

        <div class='field'>
          <%= f.label :initiation_year %><br />
          <%= f.number_field :initiation_year, autofocus: false, required: true, min: 1968, max: Date.today.year %>
        </div>

        <div class='actions'>
          <%= f.submit 'Log in', class: 'btn btn-primary' %>
        </div>
      <% end %>

      <br />
      <%= render 'members/shared/links' %>
    </div>
  </div>
</div>
