<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-xs-12 col-md-4 col-md-offset-4 registration-form'>
      <h2>Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class='form-group'>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, required: true, class: 'form-control' %>
        </div>

        <div class='form-group'>
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: false, required: true, class: 'form-control' %>
        </div>

        <div class='form-group'>
          <%= f.label :middle_name %><br />
          <%= f.text_field :middle_name, autofocus: false, required: true, class: 'form-control' %>
        </div>

        <div class='form-group'>
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autofocus: false, required: true, class: 'form-control' %>
        </div>

        <div class = 'row'>
          <div class='form-group col-xs-12 col-md-6'>
            <%= f.label :initiation_year %><br />
            <%= f.number_field :initiation_year, autofocus: false, required: true, class: 'form-control', min: 1968, max: Date.today.year %>
          </div>

          <div class='form-group col-xs-12 col-md-6'>
            <%= f.label :graduation_year %><br />
            <%= f.number_field :graduation_year, autofocus: false, min: 1968, max: Date.today.year, class: 'form-control' %>
          </div>
        </div>

        <div class = 'row'>
          <div class='form-group col-xs-12 col-md-6'>
            <%= f.label :hometown %><br />
            <%= f.text_field :hometown, class: 'form-control' %>
          </div>

          <div class='form-group col-xs-12 col-md-6'>
            <%= f.label :phone_number %><br />
            <%= telephone_field_tag 'member[phone_number]', '', class: 'form-control' %>
          </div>
        </div>

        <div class='form-group'>
          <%= f.label :bio %><br />
          <%= f.text_area :bio, autofocus: false, class: 'form-control' %>
        </div>

        <div class='actions'>
          <br />
          <%= f.submit 'Sign up', class: 'btn btn-primary' %>
        </div>
      <% end %>

      <br />
      <%= link_to 'Log in', new_session_path(resource_name) %> | <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
    </div>
  </div>
</div>
