<h2>Forgot your Info?</h2>

<%= form_for(resource, as: resource_name, url: member_email_info_path, html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Send me my info" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
