<%= image_tag officer.member.profile_picture, class: 'officer-picture' %>
<div class = 'info-container'>
  <% if @admin_flag %>
    <%= link_to "/active_officers/#{officer.id}/edit", remote: true, method: :get, class: 'edit-officer pull-right' do %>
      <i class = 'fa fa-edit'></i>
    <% end %>
  <% end %>
  <span class='officer-name'><%= officer.member.full_name.upcase %></span>
  <span class='officer-title'><%= officer.title.titleize %></span>
  <span class='officer-email'><%= mail_to officer.member.email %></span>
  <span class='officer-phone'>
    <%= link_to officer.member.phone_number, "tel:#{officer.member.phone_number}" if officer.member.phone_number %>
  </span>
</div>
