<div class='container-fluid container-lg-padded'>
  <h4><strong>OFFICERS</strong></h4>
  <p> These are our elected officials for the <%=Date.today.year%> calendar year </p>
  <div class='row'>
    <% @officers.each do |officer| %>
      <div class='officer-container col-xs-12 col-md-3'>
        <%= image_tag officer.member.profile_picture, class: 'officer-picture' %>
        <div class = 'info-container'>
          <span class='officer-name'><%= officer.member.full_name.upcase %></span>
          <span class='officer-title'><%= officer.title.titleize %></span>
          <span class='officer-email'><%= mail_to officer.member.email %></span>
          <span class='officer-phone'>
            <%= link_to officer.member.phone_number, "tel:#{officer.member.phone_number}" if officer.member.phone_number %>
          </span>
        </div>
      </div>
      <hr class = 'officer-separator'/>
    <% end %>
  </div>
</div>
