<%= render 'layouts/hero_carousel' %>
<%= render 'about_us_new' %>
<div class = 'container-fluid'>
  <div class = 'row'>
    <div class = 'col-md-6 col-xs-12 pull-right'>
      <%= render 'layouts/tweets' %>
    </div>
    <div class = 'col-md-6 col-xs-12 pull-left'>
      <%= render 'layouts/calendar' %>
    </div>
    <div class = 'col-xs-12'></div>
  </div>
</div>
<div class='full-cal'>
  <center>
    <h6> Check out the full calendar by clicking below. </h6>
    <%= link_to 'VIEW CALENDAR', calendar_path, class: 'calendar-link' %>
  </center>
</div>
<div class = 'container-fluid'>
  <%= render 'officers' %>
</div>
<div class='full-cal'>
  <center>
    <h6> Want to learn more about rush? </h6>
    <%= link_to 'LEARN MORE', rush_path, class: 'calendar-link' %>
  </center>
</div>
<div class = 'container-fluid'>
  <div class = 'row'>
    <div class = 'col-xs-12 col-md-6'>
      <%= render 'about_us' %>
    </div>
    <div class = 'col-xs-12 col-md-6'>
      <%= render 'layouts/contact' %>
    </div>
  </div>
</div>
