<!-- Modal -->
<div class = 'modal fade' id = 'donation_choice_modal' tabindex = '-1' role = 'dialog' aria-labelledby = 'myModalLabel'>
  <div class = 'modal-dialog' role = 'document'>
    <div class = 'modal-content'>
      <div class = 'modal-header'>
        <button type = 'button' class = 'close' data-dismiss = 'modal' aria-label = 'Close'><span aria-hidden = 'true'>&times;</span></button>
        <h4 class = 'modal-title' id = 'myModalLabel'><strong>MAKE A GIFT</strong></h4>
      </div>
      <div class = 'modal-body'>
        <div class = 'flash success' style='display:none'>
          In the form below, Select other and specify 'Triangle Designated – 12605'
        </div>
        <div class = 'container'>
          <div class = 'row'>
            <div class = 'col-xs-12 donation-instructions'>
              <h5> Giving is simple and secure. </h5>
              <ul>
                <li> Choose a donation amount</li>
                <li> Choose how frequently you want to give </li>
                <li> Choose a payment processor</li>
                <li> Enter your payment details</li><!-- this is a good place fora  secure icon / tooltip -->
              </ul>
              <hr />
              <%= form_for Donation.new do |f| %>
                <div class = 'form-group'>
                  <div class = 'col-xs-3'>
                    <%= f.label :amount, required: true %>
                    <%= f.number_field :amount, min: 1, max: 100000 %>
                  </div>
                  <div class = 'col-xs-9'>
                    <%= f.label :frequency, required: true %>
                    <br />
                    <%= f.radio_button :frequency, :one_time, checked: true %>
                    <%= f.label :one_time, 'One Time' %>
                    <%= f.radio_button :frequency, 'recurring' %>
                    <%= f.label :recurring, 'Recurring' %>
                  </div>
                  <div class = 'col-xs-12'>
                    <%= f.submit 'Donate Through RHIT',
                      name: 'submit', type: 'button',
                      class: 'btn btn-primary btn-sm',
                      data: { 'payment-gateway' => 'rhit' } %>
                  <% end %>
                </div>
              </div>
            </div>

            <iframe id = 'rose-donation-frame'
              src = 'https://securelb.imodules.com/s/1554/index.aspx?sid=1554&gid=1&pgid=416&cid=1055'
              style = 'width:100%;'
              frameborder = '0' >
            </iframe>

            <form action = 'https://www.paypal.com/cgi-bin/webscr' method = 'post' target = '_top'>
              <input type = 'hidden' name = 'cmd' value = '_s-xclick'>
              <input type = 'hidden' name = 'hosted_button_id' value = 'NR57LLSXX3XHG'>
              <input type = 'hidden' name = 'currency_code' value = 'USD'>
              <button name = 'submit' class = 'btn btn-paypal btn-sm' alt = 'PayPal - The safer, easier way to pay online!' data-payment-gateway='paypal'>
                Donate Through PayPal
              </button>
              <img alt = '' border = '0' src = 'https://www.paypalobjects.com/en_US/i/scr/pixel.gif' width = '1' height = '1'>
              <table>
                <tbody><tr>
                    <td>
                      <input type = 'hidden' name = 'on0' value = ''>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <select name = 'os0'>
                        <option value = '$5/month'>$5/month : $5.00 USD - monthly</option>
                        <option value = '$10/month'>$10/month : $10.00 USD - monthly</option>
                        <option value = '$15/month'>$15/month : $15.00 USD - monthly</option>
                        <option value = '$25/month'>$25/month : $25.00 USD - monthly</option>
                      </select>
                    </td>
                  </tr>
              </tbody></table>
                <!--
              -->
            </form>
            <!--
            <form action = 'https://www.paypal.com/cgi-bin/webscr' method = 'post' target = '_top'>
              <input type = 'hidden' name = 'cmd' value = '_s-xclick'>
              <input type = 'hidden' name = 'hosted_button_id' value = 'KWTTNDV554XG2'>
              <input type = 'image' src = 'https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif' border = '0' name = 'submit' alt = 'PayPal - The safer, easier way to pay online!' style = 'border: 0px none ; padding: 0px; width: 150px; height: auto;'>
              <img alt = '' border = '0' src = 'https://www.paypalobjects.com/en_US/i/scr/pixel.gif' width = '1' height = '1'>
            </form>
            -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
