<div class = 'row project' data-project-id='<%=@project.id%>'>
  <%= form_for @project, remote: true do |f| %>
    <%= render 'pictures/index', pictures: project.pictures, resource: project %>
    <div class = 'col-xs-12 col-md-6 project-description-container'>
      <%= f.text_field :title, placeholder: 'Title', required: 'required' %>
    </div>
    <div class = 'col-xs-12 col-md-6'>
      <%= f.text_area :description, placeholder: 'Description', required: 'required' %>
    </div>
    <div class = 'col-xs-12 col-md-6'>
      <%= f.number_field :price, placeholder: :price, min: 0, required: 'required' %>
    </div>
    <div class = 'col-xs-12 col-md-6'>
      <%= f.submit 'SAVE', class: 'btn btn-primary btn-sm btn-square project-donation' %>
    </div>
  <% end %>
</div>
