<div class = 'row project'>
  <%= form_for Project.new, remote: true, authenticity_token: true, html: { multipart: true } do |f| %>
    <div class = 'col-xs-12 col-md-6 project-pic-container'>
      <%= render 'unassociated_pictures/new', resource_type: 'Project' %>
    </div>
    <div class = 'col-xs-12 col-md-6 project-description-container'>
      <%= f.text_field :title, placeholder: 'Title', required: 'required' %>
    </div>
    <div class = 'col-xs-12 col-md-6'>
      <%= f.text_area :description, placeholder: 'Description', required: 'required' %>
    </div>
    <div class = 'col-xs-12 col-md-6'>
      <%= f.number_field :price, placeholder: :price, min: 0, required: 'required' %>
    </div>
    <div class = 'col-xs-12 col-md-6'>
      <%= f.submit 'CREATE', class: 'btn btn-primary btn-sm btn-square project-donation' %>
    </div>
  <% end %>
</div>
