<div class = 'row project' data-project-id='<%=project.id%>'>
  <div class = 'col-xs-12 col-md-6 project-pic-container'>
    <%= render 'pictures/index', pictures: project.pictures, resource: project %>
  </div>

  <div class = 'col-xs-12 col-md-6 project-description-container'>
    <h4><strong><%= project.title %></strong>
      <% if @admin_flag %>
        <i class = 'fa fa-sort'></i>
        <%= form_for project, remote: true, method: 'patch', class: 'hide' do |f| %>
          <%= f.number_field :sort_val, class: 'hide' %>
        <% end %>
        <%= link_to "/projects/#{project.id}", remote: true, method: :delete, class: 'delete-project pull-right' do %>
          <i class = 'fa fa-times-circle-o'></i>
        <% end %>
        <%= link_to "/projects/#{project.id}/edit", remote: true, method: :get, class: 'edit-project pull-right' do %>
          <i class = 'fa fa-edit'></i>
        <% end %>
        <%= link_to "/projects/#{project.id}/complete", remote: true, method: :post, class: 'complete-project pull-right' do %>
          <i class = 'fa fa-check-square-o'></i>
        <% end %>
      <% end %>
    </h4>
    <p> <%= project.description %> </p>
    <div class = 'project-slider'>
      <span class='capital-progress'>$<%=project.capital_progress.to_i %></span>
      <span class='total-cost pull-right'> $<%= project.price.to_i  %> </span>
      <div id="project-slider" ></div>
      <button type="button" class="btn btn-primary btn-sm btn-square project-donation" data-toggle="modal" data-target="#donation_choice_modal" data-project-id=<%=project.id%>>
        DONATE
      </button>
      <button class = 'btn btn-secondary btn-sm btn-square' data-toggle="modal" data-action='donation_summary' data-target="#donation_summary_modal-<%=project.id%>">
        SEE WHO DONATED <i class = 'fa fa-caret-right'></i>
      </button>
      <%= render partial: 'donation_summary', locals: { project: project } %>
    </div>
  </div>
</div>
