<h4 class='col-xs-12'> <strong> MORE INFO </strong> </h4>
<div class = 'col-xs-12' >
  <p> <%= Faker::Lorem.paragraph %></p>
  <p> <%= Faker::Lorem.paragraph %></p>
  <p> <%= Faker::Lorem.paragraph %></p>
  <p> <%= Faker::Lorem.paragraph %></p>
  <p> <%= Faker::Lorem.paragraph %></p>
</div>
