<div class='nav visible-xs visible-sm'>
  <div class='dropdown'>
    <a href = 'javascript:void(0);' class = 'navbar-sm-icon pull-left dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='true'><i class="fa fa-bars fa-lg"></i></a>
    <ul class = 'dropdown-menu'>
      <li class='dropdown-menu-item hide'> <a href='#'><strong>HOME</strong></a></li>
      <li class='dropdown-menu-item hide'> <a href='#'><strong>OFFICERS</strong></a></li></a></li>
      <li class='dropdown-menu-item hide'> <a href='#'><strong>HISTORY</strong></a></li></a></li>
      <li class='dropdown-menu-item'> <a href='/calendar'><strong>CALENDAR</strong></a></li></a></li>
      <li class='dropdown-menu-item'> <a href='/rush'><strong>RUSH</strong></a></li></a></li>
      <li class='dropdown-menu-item'> <a href='/alumni'><strong>ALUMNI BODY</strong></a></li></a></li>
      <li class='dropdown-menu-item hide'> <a href='#'><strong>FORUM</strong></a></li></a></li>
      <li class='dropdown-menu-item'> <a href='/projects_and_donations'><strong>PROJECTS & DONATIONS</strong></a></li></a></li>
      <li class='dropdown-menu-item hide'> <a href='#'><strong>CONTACT</strong></a></li></a></li>
    </ul>
    <div class='dropdown-backdrop' style='visibility:hidden'></div>
  </div>
  <a href = '/'><h4 class = 'brand'><%=image_tag 'small_logo.png' %> <strong>TRIANGLE</strong></h4></a>
  <a href = 'javascript:void(0);' class = 'navbar-sm-icon pull-right' id="clabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-lg"></i></a>
    <ul class="dropdown-menu pull-right" aria-labelledby="clabel">
      <% if current_member.present? %>
        <li> <%= link_to 'Edit Profile', profile_path %> </li>
        <li> <%= link_to 'Sign Out', destroy_member_session_path  %> </li>
      <% else %>
        <li> <%= link_to 'Sign In', new_member_session_path %> </li>
        <li> <%= link_to 'Sign Up', new_member_registration_path %> </li>
      <% end %>
    </ul>
</div>
<div class='visible-md visible-lg'>
  <div class='nav nav-lower'>
    <a href='/'>
      <h4 class = 'brand pull-left'>
        <%=image_tag 'small_logo_white.png' %>
        <strong>TRIANGLE</strong>
        <!--
      -->
      </h4>
    </a>
    <ul class='quick-links pull-right'>
      <li class = 'hide'> <a href='#'>ACTIVE BODY</a></li>
      <li class = 'hide'> <a href='#'>HISTORY</a></li>
      <li> <a href='/calendar'>CALENDAR</a></li>
      <li> <a href='/rush'>RUSH</a></li>
      <li> <a href='/alumni'>ALUMNI</a></li>
      <% if current_member.present? %>
        <li> <a href='/forum'>FORUM</a></li>
      <% else %>
        <li> <a href='#' data-toggle='popover' data-trigger='click' class='forum-toggle'>FORUM</a>
        <center class='login-buttons' role='group' style='display:none'>
          <a href='/forum' class='btn btn-primary'><i class="fa fa-sign-in"></i> Sign in</a>
          <a href='/members/sign_up' class='btn btn-primary'><i class="fa fa-edit"></i> Register</a>
          </center >
          </li>
      <% end %>
      <li> <a href='/projects_and_donations'>GIVING BACK</a></li>
      <li class = 'hide'> <a href='#'>CONTACT</a></li>
      <li class = 'dropdown'>
      <a href='#' id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%=current_member.try(:first_name) || 'SIGN IN'%>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <% if current_member.present? %>
          <li> <%= link_to 'Edit Profile', profile_path %> </li>
          <li> <%= link_to 'Sign Out', destroy_member_session_path, method: :delete  %> </li>
        <% else %>
          <li> <%= link_to 'Sign In', new_member_session_path %> </li>
          <li> <%= link_to 'Sign Up', new_member_registration_path %> </li>
        <% end %>
      </ul>
      </li>
      <li> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  </li>
    </ul>
  </div>
</div>
