<div class='container officers'>
  <h4><strong>OFFICERS</strong></h4>
  <p> These are our elected officials for the <%=Date.today.year%> calendar year </p>
  <% @officers.each do |(title, details)| %>
    <div class='officer-container'>
      <%= image_tag "#{ details[:name].downcase.gsub(' ', '_')}.jpg", class: 'officer-picture' %>
      <div class = 'info-container'>
        <span class='officer-name'><%= details[:name].upcase %></span>
        <span class='officer-title'><%= title.titleize %></span>
        <span class='officer-email'><%= details[:email] %></span>
        <span class='officer-phone'><%= details[:phone] %></span>
      </div>
    </div>
    <hr class = 'officer-separator'/>
  <% end %>
</div>
