<!DOCTYPE html>
<html>
  <head>
    <title>Triangle Fraternity - RHIT</title>
    <%= stylesheet_link_tag    'application', :media => 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>

    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Oswald'>
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300'>
    <link rel='shortcut icon' type='image/png' href='/assets/favicon.png'>
    <link rel='icon' type='image/png' href='/assets/favicon.png'>
    <%= csrf_meta_tags %>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
  </head>
  <body>
    <%= render 'layouts/flash_messages' %>
    <%= render 'layouts/nav_bar' %>
    <%= yield %>
  </body>
</html>
