<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-xs-12 col-md-6 col-md-offset-3 registration-form'>
      <h2>Update Profile</h2>

      <%= form_for current_member, url: profile_path do |f| %>
        <div class='field'>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, required: true %>
        </div>

        <div class='field'>
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: false, required: true %>
        </div>

        <div class='field'>
          <%= f.label :middle_name %><br />
          <%= f.text_field :middle_name, autofocus: false, required: true %>
        </div>

        <div class='field'>
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autofocus: false, required: true %>
        </div>

        <div class='field'>
          <%= f.label :initiation_year %><br />
          <%= f.number_field :initiation_year, autofocus: false, required: true, min: 1968, max: Date.today.year %>
        </div>

        <div class='field'>
          <%= f.label :graduation_year %><br />
          <%= f.number_field :graduation_year, autofocus: false, min: 1968, max: Date.today.year %>
        </div>

        <div class='field'>
          <%= f.label :hometown %><br />
          <%= f.text_field :hometown %>
        </div>

        <div class='field'>
          <%= f.label :phone_number %><br />
          <%= telephone_field_tag 'member[phone_number]', current_member.phone_number %>
        </div>

        <div class='actions'>
          <%= f.submit 'Save', class: 'btn btn-primary' %>
        </div>
      <% end %>

      <br />
    </div>
  </div>
</div>
